<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;color:#1d1d1d;border: 1px solid #ccc;"> 
    <tbody> 
        <tr> 
            <td> 
                <table width="100%" border="0" cellspacing="5" cellpadding="0" bgcolor="#ffffff" style=" font-size: 14px; line-height: 18px;color: #252525;"> 
                    <tbody> 
                        <tr> 
                            <td style=" background-color: #009999; padding: 17px;"> <div style=" float: left;"> <a href="https://www.goconsult.in/" rel="nofollow"><img style="float: left;width: 103px;" src="https://goconsult.in/images/go-consult-logo.png" alt="Go Consult"> </a> </div> <div style="color: #22f3f3;text-decoration: none; margin-left: 15px; font-size: 16px; float: right; margin-top: 9px;text-transform: uppercase;"><em>The future of business meetings</em> </div> </td> 
                        </tr> 
                        <tr> 
                            <td height="5"></td> </tr> <tr><td><strong>Dear <%=recipientName%>,</strong></td>
                        </tr> 
                        <tr><td>&nbsp;</td></tr> 
                        <tr><td>Greetings from GoConsult.in</td></tr> 
                        <tr><td>&nbsp;</td></tr> 
                        <tr><td>A very special welcome to GoConsult! Thank you so much for joining us. You are on your way to super productivity and beyond.</td> 
                        </tr> 
                        <tr>
                            <td>Some key benefits you are going to enjoy are:- </td></tr> 
                        <tr> 
                            <td style="padding-top: 15px;"><img src="http://goconsult.in/emailerImg/goconsult-image1.jpg" style="float: left;margin-right: 15px;"> Reduced travel cost, increased productivity among your Customers and teams, enhanced business opportunities, Multi point meetings across time zones. </td> 
                        </tr> 
                        <tr>
                            <td><em style="margin-top: 15px; float: left;"><b>Please click on the below mentioned links for any information you may require for smooth runnability:</b></em></td> 
                        </tr> 
                        <tr>
                            <td> <table width="100%" style="font-size:14px; color: #252525;"> <tr> <td><a href="http://www.goconsult.in/" target="blank" style="background: #6f6f6f; background-image: -webkit-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: -moz-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: -ms-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: -o-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: linear-gradient(to bottom, #6f6f6f, #3c3c3c); -webkit-border-radius: 4; -moz-border-radius: 4; border-radius: 4px; font-family: Arial; color: #ffffff; font-size: 14px; padding: 10px 20px 10px 20px; text-decoration: none; width: 226px; float: left; text-align: center;"> Who we are and what we do</div></td> <td></td> <td rowspan="3"><img src="http://goconsult.in/emailerImg/goconsult-image2.jpg" target="blank" style="float: right;margin-left: 15px;"></td> 
                        </tr> 
                        <tr> 
                            <td><a href="http://www.goconsult.in/" target="blank" style="background: #6f6f6f; background-image: -webkit-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: -moz-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: -ms-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: -o-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: linear-gradient(to bottom, #6f6f6f, #3c3c3c); -webkit-border-radius: 4; -moz-border-radius: 4; border-radius: 4px; font-family: Arial; color: #ffffff; font-size: 14px; padding: 10px 20px 10px 20px; text-decoration: none; width: 226px; float: left; text-align: center;">User Manual (How to/Setup)</a></td> 
                            <td></td> 
                        </tr> 
                        <tr> 
                            <td><a href="http://www.goconsult.in/" style="background: #6f6f6f; background-image: -webkit-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: -moz-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: -ms-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: -o-linear-gradient(top, #6f6f6f, #3c3c3c); background-image: linear-gradient(to bottom, #6f6f6f, #3c3c3c); -webkit-border-radius: 4; -moz-border-radius: 4; border-radius: 4px; font-family: Arial; color: #ffffff; font-size: 14px; padding: 10px 20px 10px 20px; text-decoration: none; width: 226px; float: left; text-align: center;">Product Video Link </a></td> 
                            <td></td> 
                        </tr> 
                    </table>
                </td>
            </tr> 
            <tr> 
            <td> <hr style="opacity: 0.5;"> 
            <table width="500" border="0" cellspacing="5" cellpadding="0" style="font-weight:bold;color: #252525;"> 
                <tbody> 
                    <tr>
                        <td width="45%">User ID :</td> <td width="5%">&nbsp;</td> <td width="50%"><%=recipientEmail%></td> 
                    </tr> 
                    <tr> 
                        <td width="45%">Password :</td> <td width="5%">&nbsp;</td> <td width="50%"><%=recipientPassword%></td> 
                    </tr> 
                </tbody> 
            </table> 
            <hr style="opacity: 0.5;"> </td> </tr> 
            <tr><td>&nbsp;</td></tr> 
            <tr> 
                <td style="text-align:center;"> <a href="<%=recipientLink%>" style="color:#FFFFFF;font-size: 14px;width:200px;font-weight:normal;line-height:42px;font-family:Arial, Helvetica, sans-serif;text-align:center;text-decoration:none;background-color:#2ecc71;padding:10px 24px;border-radius: 22px;border: 1px solid #1eb55e;" rel=""><em>Click here to login </em><img src="http://goconsult.in/emailerImg/arrow-right.png"></a> </td> 
            </tr> 
            <tr></tr> 
            <tr></tr> 
            <tr></tr> 
            <tr><td>Thank you.</td></tr> 
            <tr><td><strong>Warm Regards,</strong></td></tr> 
            <tr><td><strong>Team GoConsult</strong><br></td></tr> 
            <tr></tr> 
        </tbody> 
    </table> 
    <table width="100%" style="background-color: #009999;width: 98%; margin: 1%;"> 
        <tbody> 
            <tr> 
                <td width="35%"> <a href="" rel="nofollow"><img src="https://goconsult.in/images/go-consult-logo.png" alt="go consult" style=" width: 103; padding-left: 10px;"> </a> </td> 
                <td width="65%" align="right" style=" padding: 10px;"><p style="padding:0px;color: #c5c5c5;text-align:right;width:100%;font-size: 12px;">In case you need help or have a query, please:<br>Call us at: +91 9990-443-053<br>Email us at: <a href="mailto:support@goconsult.in" style="text-decoration:none;color:#fff;">support@goconsult.in</a><br>WhatsApp us at: +91 9990-443-053</p> </td> 
            </tr> 
        </tbody> 
    </table> 
</td> 
</tr> 
</tbody> 
</table>