<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Total SubCategory ({{users.length}})</h4>
  <button class="btn btn-sm btn-default" *ngIf="!isEditing && !isAdding" (click)="enableAdding()"><i class="fa fa-times"></i> Add Category</button>
  <button class="btn btn-sm btn-default" *ngIf="isEditing || isAdding" (click)="showListing()"><i class="fa fa-times"></i> Listing</button>
 
  <div class="card-block">
      
    <table datatable class="row-border hover">
                <thead class="thead-default"  *ngIf="!isEditing && !isAdding">
                <tr>
                    <th>Category Name</th>
					          <th>Parent Name</th>
                    <th>Status</th>
                    <th style="width: 20%">Actions</th>
                </tr>
                </thead>
    
      <tbody *ngIf="users.length === 0">
        <tr>
          <td colspan="4">There are no users in the DB. Add a new user below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing && !isAdding">
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
		  <td>{{user.parent.name ? user.parent.name : '--'}}</td>
          <td>{{user.status_type}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(user)"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-sm btn-danger" (click)="deleteUser(user)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="5">
              <div class="card">
                <div class="card-header">
                <strong>Normal</strong> Form
                </div>
                <div class="card-block">
                <form #form="ngForm" (ngSubmit)="form.form.valid && editUser(user)" novalidate>
                    <div class="form-group">
                    <label for="FirstName">Category Name</label>
					<input class="form-control" type="text" name="name" [(ngModel)]="user.name" minlength=4 placeholder="Category Name" #cat="ngModel" required>
                    <div *ngIf="form.submitted && !cat.valid && cat.errors " class="help-block">
							<span style="color:red;" [hidden]="!cat.errors.required">category Name is required</span>
							<span style="color:red;" [hidden]="!cat.errors.minlength">Category Name min 4 char.</span>
						</div>
                    <!--<span class="help-block">Please enter your FirstName</span>-->
                    </div>
                    <div class="form-group">
                    <label for="Status">Category</label>
                    <select class="form-control" name="category" required #parent="ngModel" [(ngModel)]="user.parent.id">
						<option  *ngFor="let i of categories" [value]="i.id" [selected]="user.parent.id == i.id">{{i.name}}</option>
					</select>
                    
                    </div>
                    <div class="form-group">
                    <label for="LastName">Status</label>
					
                    <select class="form-control" name="status_type" required #status="ngModel" [(ngModel)]="user.status_type">
						<option value=""></option>
						<option value="Active">Active</option>
						<option value="Inactive">Inactive</option>
					</select>
					<div *ngIf="form.submitted && !status.valid && status.errors " class="help-block">
							<span style="color:red;" [hidden]="!status.errors.required">Status is required</span>
					</div>
                    <!--<span class="help-block">Please enter your LastName</span>-->
                    </div>
                    
                    <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                    <button class="btn btn-sm btn-danger" (click)="cancelEditing()"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </form>
                </div>
                
            </div>


            <!--<form class="form-inline" #form="ngForm" (ngSubmit)="editUser(user)" style="display:inline">
              <div class="form-group">
                  <input class="form-control" type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="FirstName" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="LastName" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="email" [(ngModel)]="user.email" placeholder="Email" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>-->
          </td>
        </tr>
      </tbody>
	  <tbody *ngIf="isAdding">
        <tr>
          <td colspan="5">
              <div class="card">
                <div class="card-header">
                <strong>Normal</strong> Form
                </div>
                <div class="card-block">
                <form name="form" (ngSubmit)="f.form.valid && addCategory()" #f="ngForm" novalidate>
                    <div class="form-group">
                    <label for="FirstName">Sub Category Name</label>
                    <input class="form-control" type="text" name="name" [(ngModel)]="user.name" minlength=4 placeholder="Category Name" #cat="ngModel" required>
    
						<div *ngIf="f.submitted && !cat.valid && cat.errors " class="help-block">
							<span style="color:red;" [hidden]="!cat.errors.required">category Name is required</span>
							<span style="color:red;" [hidden]="!cat.errors.minlength">Category Name min 4 char.</span>
						</div>
                    </div>
					<div class="form-group">
                    <label for="Status">Category</label>
                    <select class="form-control" name="category" required #parent="ngModel" [(ngModel)]="user.parent">
						<option [ngValue]="i.id" *ngFor="let i of categories">{{i.name}}</option>
					</select>
                    <div *ngIf="f.submitted && !parent.valid && parent.errors " class="help-block">
							<span style="color:red;" [hidden]="!parent.errors.required">Parent is required</span>
					</div>
                    </div>
                    <div class="form-group">
                    <label for="Status">Status</label>
                    <select class="form-control" name="status_type" required #status="ngModel" [(ngModel)]="user.status_type">
						<option value=""></option>
						<option value="Active">Active</option>
						<option value="Inactive">Inactive</option>
					</select>
                    <div *ngIf="f.submitted && !status.valid && status.errors " class="help-block">
							<span style="color:red;" [hidden]="!status.errors.required">Status is required</span>
					</div>
                    </div>
                    <div class="card-footer">
                    <button type="submit"  class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                    <button class="btn btn-sm btn-danger" (click)="cancelEditing()"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </form>
                </div>
                
            </div>


            <!--<form class="form-inline" #form="ngForm" (ngSubmit)="editUser(user)" style="display:inline">
              <div class="form-group">
                  <input class="form-control" type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="FirstName" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="LastName" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="email" [(ngModel)]="user.email" placeholder="Email" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new User</h4>
  <div class="card-block">
    <form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required placeholder="firstName"/>
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required placeholder="lastName" />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Username" />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="username">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required placeholder="Email" />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="password" />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="images/loading.gif" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
  </div>
</div>-->
<!--<form #form="ngForm" (ngSubmit)="editUser(user)">
                    <div class="form-group">
                    <label for="FirstName">FirstName</label>
                    <input class="form-control" type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="FirstName" required>
                    
                    </div>
                    <div class="form-group">
                    <label for="LastName">LastName</label>
                    <input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="LastName" required>
                    
                    </div>
                    <div class="form-group">
                        <label for="LastName">Username</label>
                        <input class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <label for="LastName">Email</label>
                        <input class="form-control" type="text" name="email" [(ngModel)]="user.email" placeholder="Email" required>
                    </div>
                    <div class="card-footer">
                    <button type="submit" [disabled]="!form.form.valid" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                    <button class="btn btn-sm btn-danger" (click)="cancelEditing()"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </form>-->