<h1>
  {{title}}
</h1>


<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <header>
            <nav class='navbar navbar-sticky-top navbar-dark bg-inverse'>
                <span class='navbar-brand'>Menu</span>
                <ul class='nav navbar-nav pull-xs-right'>
                    <li class='nav-item' *ngIf="!isVisible">
                        <a class='nav-link' [routerLink]="['/login']">Login</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' [routerLink]="['/register']">Register</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' [routerLink]="['/home']">Home</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' [routerLink]="['/admin']">Admin</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' [routerLink]="['/logout']">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial" target="_top">Angular 2 User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="#" target="_top">Goconsult</a>
    </p>
</div>