<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
  </div>
</div>
<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current Plans ({{plans.length}})</h4>
  <button *ngIf="isShow" class="btn btn-sm btn-default" (click)="enableAdding()"><i class="fa fa-times"></i> Add Plan</button>
  <button *ngIf="isAdding" class="btn btn-sm btn-default" (click)="showall()"><i class="fa fa-times"></i> All Plan</button>
  
  <div class="card-block" *ngIf="isShow">
      
    <table datatable class="row-border hover">
        <thead class="thead-default"  *ngIf="!isEditing">
        <tr>
            <th>PlanName</th>
            <th>Price</th>
            <th>Time Duration  (In Months)</th>
            <th>Status</th>
            <th style="width: 20%">Actions</th>
        </tr>
        
        </thead>
    
      <tbody *ngIf="plans.length === 0">
        <tr>
          <td colspan="6">There are no plans in the DB. Add a new plan above.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let user of plans">
          <td>{{user.planName}}</td>
          <td>{{user.price}}</td>
          <td>{{user.timeDuration}}</td>
          <td>{{user.status}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(user)"><i class="fa fa-pencil"></i> Edit</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      
    </table>
  </div>
</div>

<div class="card" *ngIf="isEditing">
    <div class="card-header">
    <strong>Update</strong>User Form
    </div>
    <div class="card-block">
    <form #form="ngForm" (ngSubmit)="form.form.valid && editPlan(user)" novalidate>
        <div class="form-group">
        <label for="planName">PlanName</label>
        <input class="form-control" type="text" name="planName" [(ngModel)]="user.planName" placeholder="PlanName" required>
        
        </div>
        <div class="form-group">
        <label for="Price">Price</label>
        <input class="form-control" type="text" name="price" [(ngModel)]="user.price" placeholder="Price" required>
        
        </div>
        <div class="form-group">
            <label for="TimeDuration">TimeDuration (In Months)</label>
            <input class="form-control" type="text" name="timeDuration" [(ngModel)]="user.timeDuration" placeholder="TimeDuration" required>
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" [(ngModel)]="user.description" name="description" required #description="ngModel"></textarea>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" required #status="ngModel" [(ngModel)]="user.status">
                <option value="">Select Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
            <div *ngIf="form.submitted && !status.valid && status.errors " class="help-block">
                    <span style="color:red;" [hidden]="!status.errors.required">Status is required</span>
            </div>
        </div>
        <div class="card-footer">
        <button type="submit" [disabled]="loading" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
        <img *ngIf="loading" src="images/loading.gif" />
        <button class="btn btn-sm btn-danger" (click)="cancelEditing()"><i class="fa fa-ban"></i> Cancel</button>
        </div>
    </form>
    </div>
</div>

<div class="card" *ngIf="isAdding">
  <h4 class="card-header">Add new User</h4>
  <div class="card-block">
    <form  (ngSubmit)="f.form.valid && addPlan(user)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !planName.valid }">
            <label for="planName">Plan Name</label>
            <input type="text" class="form-control" name="planName" [(ngModel)]="user.planName" #planName="ngModel" required placeholder="PlanName"/>
            <div *ngIf="f.submitted && !planName.valid" class="help-block">Plan Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !price.valid }">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="price" [(ngModel)]="user.price" #price="ngModel" required placeholder="Price" />
            <div *ngIf="f.submitted && !price.valid" class="help-block">Price is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !timeDuration.valid }">
            <label for="timeDuration">TimeDuration (In Months)</label>
            <input type="text" class="form-control" name="timeDuration" [(ngModel)]="user.timeDuration" #timeDuration="ngModel" required placeholder="TimeDuration" />
            <div *ngIf="f.submitted && !timeDuration.valid" class="help-block">TimeDuration is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
            <label for="username">description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="user.description" #description="ngModel" required placeholder="description" />
            <div *ngIf="f.submitted && !description.valid" class="help-block">description is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !status.valid }">
            <label for="status">Status</label>
            <select class="form-control" name="status" required #status="ngModel" [(ngModel)]="user.status">
                <option value="">Select Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
            <div *ngIf="f.submitted && !status.valid && status.errors " class="help-block">
                    <span style="color:red;" [hidden]="!status.errors.required">Status is required</span>
            </div>
        </div>
        <div class="card-footer">
        <button type="submit" [disabled]="loading" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
        <img *ngIf="loading" src="images/loading.gif" />
        <button class="btn btn-sm btn-danger" (click)="cancelAdding()"><i class="fa fa-ban"></i> Cancel</button>
        </div>
    </form>
  </div>
</div>